body {
    background-color: #3b3b3b;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

div#containerPrincipal{
    padding:0;
}

header{
    padding:0 !important;
}

header > *{
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

main{
    padding:0 !important
}

main > *{
    padding-top: 1.5em;
}

footer{
    padding:0 !important
}

footer > *{
    padding-bottom: 1.5em;
}

.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

#clear{
    clear:both;
}

/*** HEADER ***/

/* Nav */

nav{
    background-color: #e0e0e0 !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.nav-item>a{
    color: black !important;
}

nav ul>li{
    margin-top: 0.6em !important;
}

li>a:hover{
    color:orange !important;
}

/* Portada */

div#portada{
    background-image: url(../images/manchas.png);
    padding:0;
    border-bottom: 2px solid black;
    padding-top: 2em !important;
}

div#triangulos{
    background-image: url(../images/triangulos.png);
}

div#contenidoPortada{
    display:inline-block;
    text-align: left;
    position: relative;
    top: 7em;
}

/*** MAIN ***/

section#banner{
    background-color: #3b3b3b;
}

section#articulos{
    background-color: #f4f4f4;
    text-align: justify;
}

#articulos h3{
    padding-bottom: 1em;
}

article > *{
    font-family: 'Mulish', sans-serif;
}

ul>li>a{
    text-decoration: none;
    color:black;
}

ul>li>a:hover{
    text-decoration: underline;
    color:orange;
}

#separator {
    max-width: 0.08em;
    width: 100%;
    margin-right: 0.3em;
  }

#banner::after {
    background: linear-gradient(-45deg, #e6e6e6 5px, transparent 0), linear-gradient(45deg, #e6e6e6 5px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    content: " ";
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
  }
  

/*** FOOTER ***/

section#tecnologias{
    background-color: #f4f4f4;
}

section#pie{
    background-color: #424242;
    display: inline-block;
}

address{
    left:20em; 
    text-align: right;
    margin:0;
    color: white;
    display:inline-block;
}

#social{
    display:inline-block;
}

#telefono{
    text-decoration: none;
    color:white;
    z-index:10;
}

#telefono:hover{
    text-decoration: underline;
    color:orange;
    z-index:10;
}